*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header{
    text-align: center;
    margin: 40px 0px
}

.menu {
    display: flex;
    margin: 50px 0px;
    gap: 150px
}

.menu button{
    padding: 50px
}

p{
    font-size: 48px;
    margin-bottom: 30px
}

.main{
    width: 65vh;
    height: 65vh;
    border: 5px solid black; 
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
}



.buttonOption {
    display: flex;
    justify-content: space-between;

}

button{
    padding: 15px 30px;
    color: black;
    font-size: 48px;
    font-weight: bolder;
    margin: 20px
}